html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.query-input {
    /* width: 400px; */
}

.input-error {
    border: 2px solid rgba(255, 0, 0, 0.5);
}

.gif-btn {
    margin: 5px;
}

.gif-card {
    border: 2px solid rgba(50, 50, 50, 0.4);
    padding: 15px;
    /* margin: 10px; */
    border-radius: 10px;
}

.gif-image {
    width: 100%;
    height: auto;
    
    float: right;
}