html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > .container {
    margin-top: 30px;
}

.form-group {
    /* width: 33%; */
    text-align: center;
}

#topics, #new-topic, #new-topic-submit {
    width: 90%;
    margin: 0 auto;
}

.input-error {
    border: 2px solid rgba(255, 0, 0, 0.5);
}

.gif-btn {
    margin: 5px;
    margin-bottom: 10px;
}

.gif-card {
    border: 2px solid rgba(50, 50, 50, 0.4);
    padding: 15px;
    /* margin: 10px; */
    border-radius: 10px;
}

.gif-image {
    width: 100%;
    height: auto;
    
    float: right;
}

.footer {
    text-align: center;
}